<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <!--Can add a link by doing href="" inside of the <a>-->
                <a><img src ="images/logo.png"></a>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/page1.html">Page1</a></li>
                        <li><a href="{{ site.baseurl }}/page2.html">Page2</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Page3</a>
                            <div class="dropdown-content">
                                <a href="{{ site.baseurl }}/page3.1">Page3.1</a>
                                <a href="{{ site.baseurl }}/page3.2.html">Page3.2</a>
                            </div>
                        </li>
                    <!--loading screen-->
                    <script>
                        var loader = document.getElementById("loading");
                        window.addEventListener("load", function(){
                            loader.style.display = "none";
                        })
                    </script>
                </div>
            </nav>
        </section>
    </body>
</html>



